torch==2.4.0
transformers==4.46.3
datasets==2.20.0
tqdm
accelerate==1.0.0
flash-attn==2.7.0.post2
rouge
nltk
vllm==0.6.0
azure-identity==1.17.1
openai==1.55.3
starlette
asyncio
uvicorn
requests
httpx==0.27.2
